.finals {
    width: 50%;
    margin: 20px auto;
    background: dodgerblue;
    border: solid 10px black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.btn-finals {
    background: white;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 10px;
    font-size: 32pt;
    display: inline-block;
}

.form-control {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 1.42857143;
    color: var(--highlight1dark);
    background-color: var(--darkBackground);
    background-image: none;
    border: 1px solid var(--colorDeepBackground);
    border-radius: 3px;
    margin: 15px 0;
    transition: all 0.3s ease;
}

.form-control:focus {
    border-color: var(--colorHighlight);
    outline: 0;
}

.form-control::-moz-placeholder {
    color: var(--colorText);
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: var(--colorText);
}

.form-control::-webkit-input-placeholder {
    color: var(--colorHighlight);
}