.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    font-size: 10;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

p {
    font-family: sans-serif;
    font-size: 64px;
    font-weight: 500;
    color: #eee;
    opacity: 0.3;
}

.letter {
    width: 64px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin: 0 0;
    font-family: sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    text-transform: uppercase;
    color: #C5050C;
}

.letter:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    word-break: break-all;
    background-color: #0f000f;
}

.letter:nth-child(1):before {
    content: "0547621983";
    margin-top: -120px;
    -webkit-animation-name: letter1;
    animation-name: letter1;
    -webkit-animation-duration: 1.3666666667s;
    animation-duration: 1.3666666667s;
    -webkit-animation-delay: 0.59s;
    animation-delay: 0.59s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter1 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter1 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(2):before {
    content: "7489361052";
    margin-top: -64px;
    -webkit-animation-name: letter2;
    animation-name: letter2;
    -webkit-animation-duration: 0.12s;
    animation-duration: 0.12s;
    -webkit-animation-delay: 0.94s;
    animation-delay: 0.94s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter2 {
    from {
        margin-top: -64px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter2 {
    from {
        margin-top: -64px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(3):before {
    content: "9217483056";
    margin-top: -144px;
    -webkit-animation-name: letter3;
    animation-name: letter3;
    -webkit-animation-duration: 0.9257142857s;
    animation-duration: 0.9257142857s;
    -webkit-animation-delay: 0.73s;
    animation-delay: 0.73s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter3 {
    from {
        margin-top: -144px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter3 {
    from {
        margin-top: -144px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(4):before {
    content: "2805749613";
    margin-top: -168px;
    -webkit-animation-name: letter4;
    animation-name: letter4;
    -webkit-animation-duration: 1.75s;
    animation-duration: 1.75s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter4 {
    from {
        margin-top: -168px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter4 {
    from {
        margin-top: -168px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(5):before {
    content: "4601283975";
    margin-top: 0px;
    -webkit-animation-name: letter5;
    animation-name: letter5;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-delay: 0.27s;
    animation-delay: 0.27s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter5 {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter5 {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(6):before {
    content: "8753029614";
    margin-top: -64px;
    -webkit-animation-name: letter6;
    animation-name: letter6;
    -webkit-animation-duration: 0.24s;
    animation-duration: 0.24s;
    -webkit-animation-delay: 0.88s;
    animation-delay: 0.88s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter6 {
    from {
        margin-top: -64px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter6 {
    from {
        margin-top: -64px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(7):before {
    content: "6429731850";
    margin-top: -144px;
    -webkit-animation-name: letter7;
    animation-name: letter7;
    -webkit-animation-duration: 2.9828571429s;
    animation-duration: 2.9828571429s;
    -webkit-animation-delay: 0.13s;
    animation-delay: 0.13s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter7 {
    from {
        margin-top: -144px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter7 {
    from {
        margin-top: -144px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(8):before {
    content: "8571046329";
    margin-top: -168px;
    -webkit-animation-name: letter8;
    animation-name: letter8;
    -webkit-animation-duration: 1.82s;
    animation-duration: 1.82s;
    -webkit-animation-delay: 0.48s;
    animation-delay: 0.48s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter8 {
    from {
        margin-top: -168px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter8 {
    from {
        margin-top: -168px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(9):before {
    content: "4659270183";
    margin-top: -48px;
    -webkit-animation-name: letter9;
    animation-name: letter9;
    -webkit-animation-duration: 1.7333333333s;
    animation-duration: 1.7333333333s;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter9 {
    from {
        margin-top: -48px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter9 {
    from {
        margin-top: -48px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(10):before {
    content: "6530891724";
    margin-top: -96px;
    -webkit-animation-name: letter10;
    animation-name: letter10;
    -webkit-animation-duration: 2.752s;
    animation-duration: 2.752s;
    -webkit-animation-delay: 0.14s;
    animation-delay: 0.14s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter10 {
    from {
        margin-top: -96px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter10 {
    from {
        margin-top: -96px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(11):before {
    content: "5287094361";
    margin-top: -64px;
    -webkit-animation-name: letter11;
    animation-name: letter11;
    -webkit-animation-duration: 0.48s;
    animation-duration: 0.48s;
    -webkit-animation-delay: 0.76s;
    animation-delay: 0.76s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter11 {
    from {
        margin-top: -64px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter11 {
    from {
        margin-top: -64px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(12):before {
    content: "5402796183";
    margin-top: -72px;
    -webkit-animation-name: letter12;
    animation-name: letter12;
    -webkit-animation-duration: 2.43s;
    animation-duration: 2.43s;
    -webkit-animation-delay: 0.19s;
    animation-delay: 0.19s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter12 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter12 {
    from {
        margin-top: -72px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(13):before {
    content: "1750963824";
    margin-top: 0px;
    -webkit-animation-name: letter13;
    animation-name: letter13;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-delay: 0.22s;
    animation-delay: 0.22s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter13 {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter13 {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(14):before {
    content: "6840152793";
    margin-top: -96px;
    -webkit-animation-name: letter14;
    animation-name: letter14;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter14 {
    from {
        margin-top: -96px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter14 {
    from {
        margin-top: -96px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(15):before {
    content: "3850791462";
    margin-top: -120px;
    -webkit-animation-name: letter15;
    animation-name: letter15;
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
    -webkit-animation-delay: 0.46s;
    animation-delay: 0.46s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter15 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter15 {
    from {
        margin-top: -120px;
    }
    to {
        margin-top: 64px;
    }
}

.letter:nth-child(16):before {
    content: "3261480579";
    margin-top: -192px;
    -webkit-animation-name: letter16;
    animation-name: letter16;
    -webkit-animation-duration: 2.8088888889s;
    animation-duration: 2.8088888889s;
    -webkit-animation-delay: 0.21s;
    animation-delay: 0.21s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes letter16 {
    from {
        margin-top: -192px;
    }
    to {
        margin-top: 64px;
    }
}

@keyframes letter16 {
    from {
        margin-top: -192px;
    }
    to {
        margin-top: 64px;
    }
}