html, body {
  --colorBackgroundHighlight: #9288D3;
  --colorHighlight: #A4A0E0;
  --colorText: #ffffff;
}

.btn {
  display: inline-block;
  font-size: 25px;
  padding: 15px 20px;
  margin: 10px 5px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.btn.btn-contact {
  background: var(--colorBackgroundHighlight);
  border: 3px solid var(--colorHighlight);
  color: var(--colorText);
}


h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

/* For circular images*/
.center {
    text-align: center;
}

.team {
    margin-bottom: 1em;
}

.portrait-img {
    width: 13em;
    height: 13em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}
