.center {
    text-align: center;
}

.team {
    margin-bottom: 1em;
}

.portrait-img {
    width: 13em;
    height: 13em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .long-btn {
    width:100%
  }

  .primary-button {
    padding: 6px 12px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: inherit;
    color: white;
    background-color: #EF6C00;
    border-color: #EF6C00;
    border-radius: 5px;
    font-weight: 300;
  }

.login-signup-input {
  margin:auto;
  width: 100%;
}

.login-signup-input .input-group-addon {
  width: 100%;
}