{{ define "main" }}
<div class="row justify-content-center">
	<div class="col-md-12 col-lg-10 col-xl-8">
		<article>
			<h1 class="text-center">{{ .Title }}</h1>
			<div class="text-left">{{ .Content | markdownify }}</div>
			<div class="card-list">
				{{ $currentSection := .CurrentSection }}
				{{ range where .Site.RegularPages.ByDate "Section" .Section }}
				{{ if in (.RelPermalink | string) $currentSection.RelPermalink }}
				<div class="card my-3">
					<div class="card-body">
						<a class="stretched-link d-block bold" href="{{ .RelPermalink }}">{{ .Params.title | title }}</a>
						{{ if .Params.lead }}
							<small class="text-muted lh-sm">{{- .Params.lead | safeHTML -}}</small>
						{{ else if .Params.description }}
							<small class="text-muted lh-sm">{{- .Params.description | safeHTML -}}</small>
						{{ end }}
					</div>
				</div>
				{{ end }}
				{{ end }}
				<br />

			</div>
		</article>
	</div>
</div>
{{ end }}
