{{ define "main" }}
<div class="row justify-content-center">
   <div class="col-md-auto col-lg-auto col-xl-auto">
      <div class="blog-header">
         <h1>{{ .Title }}</h1>
         <p>
            We code, we hack, we protect.
            <br />
            The official student cybersecurity club of UW-Madison.
         </p>
      </div>
      <div id="main">
         <div class="inner">
            <section class="tiles">
               <article class="style1">
                  <span class="image">
                  <img src="images/pic.jpg" alt="">
                  </span>
                  <a href="#">
                     <h2>We learn</h2>
                     <div class="content">
                        <ul style="text-align: left;">
                           <li>Skills relevant to cybersecurity.</li>
                           <li>How to manage digital footprint.</li>
                           <li>How to enforce privacy.</li>
                        </ul>
                     </div>
                  </a>
               </article>
               <article class="style2">
                  <span class="image">
                  <img src="images/pic.jpg" alt="">
                  </span>
                  <a href="#">
                     <h2>We collaborate</h2>
                     <div class="content">
                        <ul style="text-align: left;">
                           <li>By participating in wargames.</li>
                           <li>By researching security topics.</li>
                           <li>By conductimg team projects.</li>
                        </ul>
                     </div>
                  </a>
               </article>
               <article class="style3">
                  <span class="image">
                  <img src="images/pic.jpg" alt="">
                  </span>
                  <a href="#">
                     <h2>We create</h2>
                     <div class="content">
                        <ul style="text-align: left;">
                           <li>By hosting events to share information with the general public.</li>
                           <li>An environment for people to explore cybersecurity.</li>
                        </ul>
                     </div>
                  </a>
               </article>
            </section>
            <br />
            <div>
               <p>
                  <strong>Cybersecurity UW (CSEC)</strong> is a student organization that allows its members to learn and explore security in a collaborative environment. This includes everything from security research to lessons on online privacy and safety.
               </p>
               <h2>Anyone can join us, regardless of cybersecurity experience. </h2>
               <p>
                <ul>
                  <li>Having experience with programming and Linux/Unix will help with some activities in the club.</li>
                  <li>We enable cybersecurity enthusiasts to collaborate on research and discovery</li>
                  <li>and to teach cybersecurity beginners how to use ethical hacking programs (like metasploit) and other cybersecurity relavent tools (such as API's)!</li>
                </ul>
               </p>
               <h2>Interested in joining?</h2>
               <p>
                  Please fill out the <a href="contact">interest form</a> or contact us via <a href="mailto:csec@ischool.wisc.edu">csec@ischool.wisc.edu</a>.
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
{{ end }}
