{{ define "main" }}
<link href='/fullcalendar/main.css' rel='stylesheet' />
<script src='/fullcalendar/main.js'></script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
	 var calendarEl = document.getElementById('calendar');

	 var calendar = new FullCalendar.Calendar(calendarEl, {
	   initialView: 'dayGridMonth',
	   headerToolbar: {
	     left: 'prev,next today',
	     center: 'title',
	     right: 'dayGridMonth,timeGridWeek,timeGridDay'
	   },
	   events: [
	     {
	       title: 'Meeting 1',
	       url: '/fullcalendar/main.js',
	       start: '2022-01-14'
	     },
	     {
	       title: 'Meeting 2',
	       url: 'http://google.com/',
	       start: '2022-01-21T17:00:00'
	     },
	   ]
	 });

	 calendar.render();
	});


</script>
<br />
<br />
<div id='calendar'></div>
<br />
<br />
<br />
{{ end }}
